body{
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #000;
}

svg{
  transform: scale(1, -1);
  transition: .3s;
  overflow: auto;
}

g{
  transition: .7s;
  cursor: pointer;
}

g.hide{
  opacity: .2;
}

g.hide:hover{
  opacity: .85;
}

g.hide polyline{
  stroke-width: 3px;
}

g.hide circle{
  stroke-width: 0;
  r: 4px;
}

g circle{
  stroke-width: 3px;
  r: 8px;
}

g polyline,
g.hide:hover polyline {
  transition: .3s;
  stroke-width: 6px;
}

.options {
  position: fixed;
  z-index: 200;
  padding: 25px;
  top: 25px;
  left: 25px;
  border-radius: 3px;
  color: #FFF;
  font-size: 16px;
  width: 180px;
}

.checkgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #666;
}

.checkgroup label {
  cursor: pointer;
  padding-left: 20px;
}

.options header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #FFF;
  font-size: 24px;
  margin-bottom: 15px;
}

.legend {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 200;
}

.legend .txt {
  font-size: 20px;
  background-color: #222;
  box-shadow: 1px 1px 2px #000;
  padding: 15px;
  display: inline-block;
  border-radius: 3px;
}

.focusedline{
  position: fixed;
  bottom : 25px;
  width: 100%;
  text-align: center;
  font-size: 28px;
}